
<div class="admin-box">
	<div class="nav">
		<ul>
			<li> <%= link_to "Countries", admin_countries_path,:remote=>true, :class=>"btn btn-primary" %> </li>
			<li> <%= link_to "States", admin_states_path,:remote=>true, :class=>"btn btn-primary" %> </li>
			<li> <%= link_to "Cities", admin_cities_path,:remote=>true, :class=>"btn btn-primary" %> </li>
			<li> <%= link_to "Schools", admin_schools_path,:remote=>true, :class=>"btn btn-primary" %> </li>
			<li> <%= link_to "Programs", admin_programs_path,:remote=>true, :class=>"btn btn-primary" %> </li>
			<li> <%= link_to "Faculties", admin_faculties_path, :remote=>true, :class=>"btn btn-primary" %></li>
			<li> <%= link_to "Forms", admin_program_form_keys_path, :remote=>true, :class=>"btn btn-primary" %></li>
		</ul>	
	</div>

	<div class="content">

		<%= render :partial=>"admin/programs/index", :locals=>{:program=>@program, :programs=>@programs} %>
	</div>
</div>







