
<div class="admin-box">
	<div class="nav">
		<ul>
			<li> <%= link_to "Models", admin_page_path, :class=>"btn btn-primary" %> </li>
			<li> <%= link_to "Countries (#{Country.count})", admin_countries_path,:remote=>true, :class=>"btn btn-primary" %> </li>
			<li> <%= link_to "States (#{State.count})", admin_states_path,:remote=>true, :class=>"btn btn-primary" %> </li>
			<li> <%= link_to "Cities (#{City.count})", admin_cities_path,:remote=>true, :class=>"btn btn-primary" %> </li>
			<li> <%= link_to "Schools (#{School.count})", admin_schools_path,:remote=>true, :class=>"btn btn-primary" %> </li>
			<li> <%= link_to "Program Cat (#{ProgramCategory.count})", admin_program_categories_path,:remote=>true, :class=>"btn btn-primary" %> </li>
			<li> <%= link_to "Programs (#{Program.count})", admin_programs_path,:remote=>true, :class=>"btn btn-primary" %> </li>
			<li> <%= link_to "Faculties (#{Faculty.count})", admin_faculties_path, :remote=>true, :class=>"btn btn-primary" %></li>
			<li> <%= link_to "Form Key Cates (#{FormKeyCategory.count})", admin_form_key_categories_path, :remote=>true, :class=>"btn btn-primary" %></li>
			<li> <%= link_to "Form Keys (#{FormKey.count})", admin_form_keys_path, :remote=>true, :class=>"btn btn-primary" %></li>
			<li> <%= link_to "Program Forms (#{ProgramFormKey.count})", admin_program_form_keys_path, :remote=>true, :class=>"btn btn-primary" %></li>
			<li> <%= link_to "Areas (#{Area.count})", admin_areas_path, :remote=>true, :class=>"btn btn-primary" %></li>
			<li> <%= link_to "Program Area(#{ProgramAreaship.count})", admin_program_areaships_path, :remote=>true, :class=>"btn btn-primary" %></li>
		</ul>
	</div>

	<div class="content">

		<%= render :partial=>"admin/pages/dash" %>
	</div>
</div>







