<div class="alumnus">
		<div class="alumnus_item">
			<p>alumnus</p>
			<p class="form-group">
				program_degree:<%=  alumn.program_degree%>
			</p>
			<p class="form-group">
				program_year:<%= alumn.program_year%>
			</p>
			<p class="form-group">
				admission:<%= alumn.admission%>
			</p>
			<p class="form-group">
				background:<%= alumn.background%>
			</p>
			<p class="form-group">
				recommendation:<%= alumn.recommendation%>
			</p>
			<p class="form-group">
				description:<%= alumn.description%>
			</p>
		</div>
</div>