<div class="alumnus">
		<div class="alumnus_item">
			<p>alumnus</p>
			<p class="form-group">
				<span class="label label-primary">program_degree:</span><%=  alumn.program_degree%>
			</p>
			<p class="form-group">
				<span class="label label-primary">program_year:</span><%= alumn.program_year%>
			</p>
			<p class="form-group">
				<span class="label label-primary">admission:</span><%= alumn.admission%>
			</p>
			<p class="form-group">
				<span class="label label-primary">background:</span><%= alumn.background%>
			</p>
			<p class="form-group">
				<span class="label label-primary">recommendation:</span><%= alumn.recommendation%>
			</p>
			<p class="form-group">
				<span class="label label-primary">description:</span><%= alumn.description%>
			</p>
		</div>
</div>