
		<p>profile</p>
		<p class="form-group">
			<span class="label label-primary">name:</span><%= @profile.name%><%= profile.name%>
		</p>
		<p class="form-group">
			<span class="label label-primary">birthday:</span><%= @profile.name%><%= profile.birthday%>
		</p>
		<p class="form-group">
			<span class="label label-primary">major:</span><%= @profile.name%><%= profile.major%>
		</p>
		<p class="form-group">
			<span class="label label-primary">research_area:</span><%= @profile.name%><%= profile.research_area%>
		</p>
	</div>
	<div class="toefl_score">
		<p>toefl_score</p>
		<p class="form-group">
		<span class="label label-primary">toefl_read:</span><%= @profile.name%><%= profile.toefl_read%>
		</p>
		<p class="form-group">
		<span class="label label-primary">toefl_listen:</span><%= @profile.name%><%= profile.toefl_listen%>
		</p>
		<p class="form-group">
		<span class="label label-primary">toefl_speak:</span><%= @profile.name%><%= profile.toefl_speak%>
		</p>
		<p class="form-group">
		<span class="label label-primary">toefl_write:</span><%= @profile.name%><%= profile.toefl_write%>
		</p>
		<p class="form-group">
		<span class="label label-primary">toefl_total:</span><%= @profile.name%><%= profile.toefl_total%>
		</p>
	</div>
	<div class="gre_score">
		<p>gre_score</p>
		<p class="form-group">
			<span class="label label-primary">gre_verbal:</span><%= @profile.name%><%= profile.gre_verbal%>
		</p>
		<p class="form-group">
			<span class="label label-primary">gre_guantitatiue:</span><%= @profile.name%><%= profile.gre_guantitatiue%>
		</p>
		<p class="form-group">
			<span class="label label-primary">gre_awa:</span><%= @profile.name%><%= profile.gre_awa%>
		</p>
		<p class="form-group">
			<span class="label label-primary">gre_total:</span><%= @profile.name%><%= profile.gre_total%>
		</p>
	</div>
	<div class="publication">
		<div class="publication_item">
			<p>publication</p>
			<% profile.publications.each do |pf| %>
				<p class="form-group">
					<span class="label label-primary">title:</span><%= @profile.name%><%= pf.title%>
				</p>
				<p class="form-group">
					<span class="label label-primary">url:</span><%= @profile.name%><%= pf.url%>
				</p>
			<% end %>
		</div>

	</div>
	<div class="honor">
		<div class="honor-item">
			<p>honor</p>
			<% profile.honors.each do |hf| %>
				<p class="form-group">
					<span class="label label-primary">title:</span><%= @profile.name%><%= hf.title%>
				</p>
				<p class="form-group">
				<span class="label label-primary">get_date:</span><%= @profile.name%><%= hf.get_date%>
				</p>
				<p class="form-group">
				<span class="label label-primary">description:</span><%= @profile.name%><%=hf.description%>
				</p>
			<% end %>
		</div>
	</div>

	<div class="research_experience">
		<div class="research_experience_item">
			<p>research_experience</p>

			<% profile.research_experiences.each do |ef| %>
				<p class="form-group">
				<span class="label label-primary">institude:</span><%= @profile.name%><%= ef.institude%>
				</p>
				<p class="form-group">
				<span class="label label-primary">title:</span><%= @profile.name%><%= ef.title%>
				</p>
				<p class="form-group">
				<span class="label label-primary">date_from:</span><%= @profile.name%><%= ef.date_from%>
				</p>
				<p class="form-group">
				<span class="label label-primary">date_to:</span><%= @profile.name%><%= ef.date_to%>
				</p>
			<% end %>

			</div>
	</div>

	<div class="work_experience">
		<div class="work_experience_item">
			<p>work_experience</p>
			<% profile.work_experiences.each do |ef| %>
			<p class="form-group">
				<span class="label label-primary">institude:</span><%= @profile.name%><%= ef.institude%>
			</p>
			<p class="form-group">
				<span class="label label-primary">title:</span><%= @profile.name%><%= ef.title%>
			</p>
			<p class="form-group">
				<span class="label label-primary">date_from:</span><%= @profile.name%><%= ef.date_from%>
			</p>
			<p class="form-group">
				<span class="label label-primary">date_to:</span><%= @profile.name%><%= ef.date_to%>
			</p>
			<% end %>
		</div>
		</p>
	</div>