<div class="profile">
<% if @alumnus %>
	<%= link_to "edit", edit_alumnus_profile_path() %>
<% else%>
	<%= link_to "edit", edit_profile_path() %>
<% end%>
</div>
<div class="profile">
		<p><span class="label label-primary">profile</span></p>
		<p class="form-group">
			<span class="label label-primary">name:</span><%= @profile.name%>
		</p>
		<p class="form-group">
			<span class="label label-primary">birthday:</span><%= @profile.birthday%>
		</p>
		<p class="form-group">
			<span class="label label-primary">major:</span><%= @profile.major%>
		</p>
		<p class="form-group">
			<span class="label label-primary">research_area:</span><%= @profile.research_area%>
		</p>
	</div>
	<div class="toefl_score">
		<p>
			<span class="label label-primary">toefl_score</span>
		</p>
		<p class="form-group">
			<span class="label label-primary">toefl_read:</span><%= @profile.toefl_read%>
		</p>
		<p class="form-group">
			<span class="label label-primary">toefl_listen:</span><%= @profile.toefl_listen%>
		</p>
		<p class="form-group">
			<span class="label label-primary">toefl_speak:</span><%= @profile.toefl_speak%>
		</p>
		<p class="form-group">
			<span class="label label-primary">toefl_write:</span><%= @profile.toefl_write%>
		</p>
		<p class="form-group">
			<span class="label label-primary">toefl_total:</span><%= @profile.toefl_total%>
		</p>
	</div>
	<div class="gre_score">
		<p>gre_score</p>
		<p class="form-group">
			<span class="label label-primary">gre_verbal:</span><%= @profile.gre_verbal%>
		</p>
		<p class="form-group">
			<span class="label label-primary">gre_guantitatiue:</span><%= @profile.gre_guantitatiue%>
		</p>
		<p class="form-group">
			<span class="label label-primary">gre_awa:</span><%= @profile.gre_awa%>
		</p>
		<p class="form-group">
			<span class="label label-primary">gre_total:</span><%= @profile.gre_total%>
		</p>
	</div>
	<div class="publication">
		<div class="publication_item">
			<p>publication</p>
			<% @profile.publications.each do |pf| %>
				<p class="form-group">
					<span class="label label-primary">title:</span><%= pf.title%>
				</p>
				<p class="form-group">
					<span class="label label-primary">url:</span><%= pf.url%>
				</p>
			<% end %>
		</div>

	</div>
	<div class="honor">
		<div class="honor-item">
			<p>honor</p>
			<% @profile.honors.each do |hf| %>
				<p class="form-group">
					<span class="label label-primary">title:</span><%= hf.title%>
				</p>
				<p class="form-group">
					<span class="label label-primary">get_date:</span><%= hf.get_date%>
				</p>
				<p class="form-group">
					<span class="label label-primary">description:</span><%=hf.description%>
				</p>
			<% end %>
		</div>
	</div>

	<div class="research_experience">
		<div class="research_experience_item">
			<p>research_experience</p>

			<% @profile.research_experiences.each do |ef| %>
				<p class="form-group">
					<span class="label label-primary">institude:</span><%= ef.institude%>
				</p>
				<p class="form-group">
					<span class="label label-primary">title:</span><%= ef.title%>
				</p>
				<p class="form-group">
					<span class="label label-primary">date_from:</span><%= ef.date_from%>
				</p>
				<p class="form-group">
					<span class="label label-primary">date_to:</span><%= ef.date_to%>
				</p>
			<% end %>

			</div>
	</div>

	<div class="work_experience">
		<div class="work_experience_item">
			<p>work_experience</p>
			<% @profile.work_experiences.each do |ef| %>
			<p class="form-group">
				<span class="label label-primary">institude:</span><%= ef.institude%>
			</p>
			<p class="form-group">
				<span class="label label-primary">title:</span><%= ef.title%>
			</p>
			<p class="form-group">
				<span class="label label-primary">date_from:</span><%= ef.date_from%>
			</p>
			<p class="form-group">
				<span class="label label-primary">date_to:</span><%= ef.date_to%>
			</p>
			<% end %>
		</div>
		</p>
	</div>
	<% if @alumnus %>
	<div class="alumnus">
		<div class="alumnus_item">
			<p>alumnus</p>
			<p class="form-group">
				<span class="label label-primary">program_degree:</span><%=  @profile.alumn.program_degree%>
			</p>
			<p class="form-group">
				<span class="label label-primary">program_year:</span><%= @profile.alumn.program_year%>
			</p>
			<p class="form-group">
				<span class="label label-primary">admission:</span><%= @profile.alumn.admission%>
			</p>
			<p class="form-group">
				<span class="label label-primary">background:</span><%= @profile.alumn.background%>
			</p>
			<p class="form-group">
				<span class="label label-primary">recommendation:</span><%= @profile.alumn.recommendation%>
			</p>
			<p class="form-group">
				<span class="label label-primary">description:</span><%= @profile.alumn.description%>
			</p>
		</div>
		<% end %>
	</div>

