<div class="sign-up">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email, :class=>"title" %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password,:class=>"title" do %>
        password
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>          
      <% end %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, :class=>"title"  %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

  <%# user name %>
    <div class="field">
      <%= f.label :username, :class=>"title"  %>
      <%= f.password_field :username, :required=>true %>    
    </div>

    <div class="field">
      <%= f.label :first_name, :class=>"title"  %>
      <%= f.password_field :first_name %>    
    </div>

    <div class="field">
      <%= f.label :middle_name, :class=>"title"  %>
      <%= f.password_field :middle_name %>    
    </div>

    <div class="field">
      <%= f.label :last_name, :class=>"title"  %>
      <%= f.password_field :last_name %>    
    </div>

    <div class="field">
      <%= f.label :prefered_name, :class=>"title"  %>
      <%= f.password_field :prefered_name %>    
    </div>

    <div class="field">
      <%= f.label :sex, "sex:", :class=>"title"  %>
      <%= f.label :male %>
      <%= f.radio_button :sex,'male'%>
      <%= f.label :female %>
      <%= f.radio_button :sex,'female'%>    
    </div>

    <div class="actions">
      <%= f.submit "Sign up", :class=>"btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
