<%# programs, program %>
<div class="admin-programs">
	<h1> Programs </h1>

	<% if program.new_record? %>
		<% url_hash = {:url=>admin_programs_path, :remote=>true} %>
	<% else %>
		<% url_hash = {:url=>admin_program_path(program), :method=>:patch, :remote=>true} %>
	<% end %>

	<%= form_for program, url_hash do |f| %>
	<%= f.fields_for :address do |addr| %>

	<table class="table">

			<tr>
				<th> <%= f.label :name, "name" %> </th>
				<th> <%= f.label :degree, "degree" %> </th>
				<th> <%= f.label :levelt, "level" %> </th>
				<th> <%= f.label :desc, "desc" %> </th>
				<th> <%= f.label :department, "department" %> </th>
				<th> <%= f.label :fax, "fax" %> </th>
				<th> <%= f.label :phone, "phone" %> </th>
				<th> <%= f.label :email, "email" %> </th>
				<th> <%= addr.label :address1, "address1" %> </th>
				<th></th>
				<th></th>
			</tr>				
			<tr>
				<td> <%= f.text_field :name %> </td>
				<td> <%= f.text_field :degree %> </td>
				<td> <%= f.text_field :level %> </td>
				<td> <%= f.text_area :desc %> </td>
				<td> <%= f.text_field :department %> </td>
				<td> <%= f.text_field :fax %> </td>
				<td> <%= f.text_field :phone %> </td>
				<td> <%= f.text_field :email %> </td>
				<td> <%= addr.text_field :address1 %> </td>
				
				<% if program.new_record? %>
					<td>	<%= f.submit 'create', :class=>'btn btn-primary' %> </td>
				<% else %>
					<td>	<%= f.submit 'update', :class=>'btn btn-primary' %> </td>
				<% end %>

				<td></td>
			</tr>

		<% programs.each do |pg| %>
			<tr>
				<td> <%= pg.name %> </td>
				<td> <%= pg.degree %> </td>
				<td> <%= pg.level %> </td>
				<td> <%= pg.desc %> </td>
				<td> <%= pg.department %> </td>
				<td> <%= pg.fax %> </td>
				<td> <%= pg.phone %> </td>
				<td> <%= pg.email %> </td>
				<td> <%= pg.address.try(:address1) %> </td>
				<td> <%= link_to "Edit", edit_admin_program_path(pg), :remote=>true, :class=>"btn btn-info" %> 
				</td>
				<td> <%= link_to "Delete", admin_program_path(pg), :remote=>true, :method=>:delete, :class=>"btn btn-danger", :data=>{:confirm=>"Are you sure?"} %> 
				</td>
			</tr>
		<% end %>
	</table>

	<% end %> <%# fields_for %>
	<% end %> <%# form_for %>


</div>
