<%# programs, program, edit_program %>
<div class="admin-program-form-keys">
	<h1> Form Format for Each Program <span class="label label-info"> <%=programs.count %> </span> </h1>
	<h4>
		<% if notice %>
			<span class="label label-success"><%= notice[:success] if notice[:success] %></span>
			<span class="label label-danger"><%= notice[:fail] if notice[:fail] %></span>
		<% end %>
	</h4>
	

	<% programs.each do |pg| %>
		<% if pg == edit_program %>
			<%= form_for pg, :url=>admin_program_form_key_path(pg), :method=>:post, :remote=>true do |f| %>
			<div class="unit-program-form-key">
				<h4> 
					<span class=""> <%= pg.school.try(:name) %></span>
					<span class=""> <%= pg.program_category.name %></span>
					<span><%= f.submit "Update form", :class=>"btn btn-info btn-xs" %></span>
				</h4>
			
				<% index = 1 %>
				<% FormKeyCategory.all.each do |fkc| %>
					<h4 class="field-program-form-key-category"> <%= fkc.name %> </h4>
					<% fkc.form_keys.all.each do |fk| %>
						<div class="field-program-form-key">
							<%= label_tag "program_form_key_#{index}_form_key_id]", "#{fk.name}", :class=>"key" %>
							<% if pg.program_form_key_ids.include?(fk.id) %>
								<%= check_box_tag "program_form_key[#{index}][form_key_id]", "1",true, :class=>"check" %>
							<% else %>
								<%= check_box_tag "program_form_key[#{index}][form_key_id]","1",true, :class=>"check" %>
							<% end %> <%# if %>

							<%= label_tag "program_form_key_#{index}_name]", "name" %>
							<%= text_field_tag "program_form_key[#{index}][name]","", :class=>"name" %>
							<%= label_tag "program_form_key_#{index}_desc]", "desc" %>
							<%= text_field_tag "program_form_key[#{index}][desc]","", :class=>"desc" %>			
						</div>
						<% index +=1 %>
					<%end %> <%# form key each %>
				<% end %> <%# for key category each %>
			</div>
			<% end %> <%# form for %>

		<% else %> <%# if pg == edit_program %>
			<div class="unit-program-form-key">
				<h4> 
					<span class=""> <%= pg.school.try(:name) %></span>
					<span class=""> <%= pg.program_category.name %></span>
					<span><%= link_to "Edit form", admin_program_form_keys_path(:edit_id=>pg.id), :remote=>true, :class=>"btn btn-warning btn-xs" %></span>
				</h4>

				<% index = 1 %>				
				<% FormKeyCategory.all.each do |fkc| %>
					<h4 class="field-program-form-key-category"> <%= fkc.name %> </h4>
					<% pg.program_form_keys.all.each do |pfk| %>
						<% if pfk.form_key.form_key_category.name == fkc.name %>
							<div class="field-program-form-key">
								<div class="key"><%= pfk.name %></div>
							</div>
						<% end %>
						<% index +=1 %>
					<%end %> <%# kfc form key each %>
				<% end %> <%# for key category each %>					
				
			</div>

		<% end %> <%# if pg == edit_program %>
	<% end %>


</div>

