<%# programs, program, edit_program %>
<div class="admin-program-form-keys">
	<h1> Form Format for Each Program <span class="label label-info"> <%=programs.count %> </span> </h1>
	<h4>
		<% if notice %>
			<span class="label label-success"><%= notice[:success] if notice[:success] %></span>
			<span class="label label-danger"><%= notice[:fail] if notice[:fail] %></span>
		<% end %>
	</h4>


	<% programs.each do |pg| %>
		<% if pg == edit_program %>
			<%= form_for pg, :url=>admin_program_form_key_path(pg), :method=>:patch, :remote=>true do |f| %>
			<div class="unit-program-form-key">
				<h4>
					<span class=""> <%= pg.school.try(:name) %></span>
					<span class=""> <%= pg.program_category.try( :name) %></span>
					<span><%= f.submit "Update form", :class=>"btn btn-info btn-xs" %></span>
				</h4>

				<% FormKeyCategory.includes(:form_keys).each do |fkc| %>
					<h4 class="field-program-form-key-category"> <%= fkc.name %> </h4>
					<% fkc.form_keys.all.each do |fk| %>

						<% program_form_key = pg.program_form_keys.find_by_form_key_id(fk.id) %>

						<div class="field-program-form-key">
							<%= label_tag "program_form_key_#{fk.id}_check]", "#{fk.name}", :class=>"key" %>
							<%= label_tag "program_form_key_#{fk.id}_check]", "#{fk.key_type}", :class=>"key-type" %>

							<%= check_box_tag "program_form_key[#{fk.id}][check]", "1",program_form_key!=nil, :class=>"check" %>

							<%= label_tag "program_form_key_#{fk.id}_name]", "name" %>
							<%= text_field_tag "program_form_key[#{fk.id}][name]",program_form_key.try(:name), :class=>"name-value" %>
							<%= label_tag "program_form_key_#{fk.id}_desc]", "desc" %>
							<%= text_field_tag "program_form_key[#{fk.id}][desc]",program_form_key.try(:desc), :class=>"desc-value" %>
						</div>
					<%end %> <%# form key each %>
				<% end %> <%# for key category each %>
			</div>
			<% end %> <%# form for %>

		<% else %> <%# if pg == edit_program %>
			<div class="unit-program-form-key">
				<h4>
					<span class=""> <%= pg.school.try(:name) %></span>
					<span class=""> <%= pg.program_category.try(:name) %></span>
					<span><%= link_to "Edit form", admin_program_form_keys_path(:edit_id=>pg.id), :remote=>true, :class=>"btn btn-warning btn-xs" %></span>
				</h4>

				<% FormKeyCategory.includes(:form_keys => :program_form_keys).each do |fkc| %>
					<h4 class="field-program-form-key-category"> <%= fkc.name %> </h4>
					<% pg.program_form_keys.each do |pfk| %>

					<%end %> <%# kfc form key each %>
				<% end %> <%# for key category each %>

			</div>

		<% end %> <%# if pg == edit_program %>
	<% end %>


</div>

