<% alumns.each do |alumn|%>
<div class="profile">
		<p>profile</p>
		<p class="form-group">
			name:<%= alumn.profile.name%>
		</p>
		<p class="form-group">
			birthday:<%= alumn.profile.birthday%>
		</p>
		<p class="form-group">
			major:<%= alumn.profile.major%>
		</p>
		<p class="form-group">
			research_area:<%= alumn.profile.research_area%>
		</p>
	</div>
	<div class="toefl_score">
		<p>toefl_score</p>
		<p class="form-group">
		toefl_read:<%= alumn.profile.toefl_read%>
		</p>
		<p class="form-group">
		toefl_listen:<%= alumn.profile.toefl_listen%>
		</p>
		<p class="form-group">
		toefl_speak:<%= alumn.profile.toefl_speak%>
		</p>
		<p class="form-group">
		toefl_write:<%= alumn.profile.toefl_write%>
		</p>
		<p class="form-group">
		toefl_total:<%= alumn.profile.toefl_total%>
		</p>
	</div>
	<div class="gre_score">
		<p>gre_score</p>
		<p class="form-group">
			gre_verbal:<%= alumn.profile.gre_verbal%>
		</p>
		<p class="form-group">
			gre_guantitatiue:<%= alumn.profile.gre_guantitatiue%>
		</p>
		<p class="form-group">
			gre_awa:<%= alumn.profile.gre_awa%>
		</p>
		<p class="form-group">
			gre_total:<%= alumn.profile.gre_total%>
		</p>
	</div>
	<div class="publication">
		<div class="publication_item">
			<p>publication</p>
			<% alumn.profile.publications.each do |pf| %>
				<p class="form-group">
					title:<%= pf.title%>
				</p>
				<p class="form-group">
				url:<%= pf.url%>
				</p>
			<% end %>
		</div>

	</div>
	<div class="honor">
		<div class="honor-item">
			<p>honor</p>
			<% alumn.profile.honors.each do |hf| %>
				<p class="form-group">
					title:<%= hf.title%>
				</p>
				<p class="form-group">
				get_date:<%= hf.get_date%>
				</p>
				<p class="form-group">
				description:<%=hf.description%>
				</p>
			<% end %>
		</div>
	</div>

	<div class="research_experience">
		<div class="research_experience_item">
			<p>research_experience</p>

			<% alumn.profile.research_experiences.each do |ef| %>
				<p class="form-group">
				institude:<%= ef.institude%>
				</p>
				<p class="form-group">
				title:<%= ef.title%>
				</p>
				<p class="form-group">
				date_from:<%= ef.date_from%>
				</p>
				<p class="form-group">
				date_to:<%= ef.date_to%>
				</p>
			<% end %>

			</div>
	</div>

	<div class="work_experience">
		<div class="work_experience_item">
			<p>work_experience</p>
			<% alumn.profile.work_experiences.each do |ef| %>
			<p class="form-group">
				institude:<%= ef.institude%>
			</p>
			<p class="form-group">
				title:<%= ef.title%>
			</p>
			<p class="form-group">
				date_from:<%= ef.date_from%>
			</p>
			<p class="form-group">
				date_to:<%= ef.date_to%>
			</p>
			<% end %>
		</div>
		</p>
	</div>
	<div class="alumnus">
		<div class="alumnus_item">
			<p>alumnus</p>
			<p class="form-group">
				program_degree:<%=  alumn.program_degree%>
			</p>
			<p class="form-group">
				program_year:<%= alumn.program_year%>
			</p>
			<p class="form-group">
				admission:<%= alumn.admission%>
			</p>
			<p class="form-group">
				background:<%= alumn.background%>
			</p>
			<p class="form-group">
				recommendation:<%= alumn.recommendation%>
			</p>
			<p class="form-group">
				description:<%= alumn.description%>
			</p>
		</div>
	</div>


<% end %>