<%# program %>

<div class="search-result-item">
	<%= link_to program_path(program), :class=>"search-result-link" do %>
	  <div class="search-result-item-index"> <%= program_counter+1 %> </div>
		<div class="search-result-item-title"> <%= program.school.name %> </div>
	  <div class="search-result-item-logo"> <%= image_tag program.school.logo.photo.url(:thumb) if program.school.logo%></div>
		<div class="search-result-item-desciption">
	    <div class="title"> <%= program.title %> </div>
			<div class="content">
				<%= program.desc.length %>
				<%= shorten(program.desc,300) %>
			</div>
		</div>
		<div class="search-result-item-add">
			<% if check_user_program_forms(program) %>
				<%= link_to "Add", fevorite_myprogram_path(program), :class=>"add",:data => { :row_id => program.id },:remote=>true%>
			<% else %>
				<%= link_to "Remove", fevorite_myprogram_path(program), :class=>"remove",:data => { :row_id => program.id },:remote=>true%>
			<% end %>
		</div>
	<% end %>
</div>

