<%# program %>
<div id="detail-view-header" class="row-fluid">
    <span class="col-md-1">
        <%= image_tag("double-square.png",:width=>"45px") %>
    </span>

    <h1 class="col-md-11">faculty-grey Info</h1>
</div>

<% areas1 = ["ALGORITHM", "BIOINFORMATICS", "OPERATION SYSTEM", "MACHINE LEARNING", "DATABASE", "NETWORKING", "BIG DATA", "COMPUTER ENGINEERING"] %>
<% areas2 = ["SECURITY", "PARALLEL COMPUTING", "SYSTEM PROGRAMING", "COMPUTER GRAPHICS", "HUMAN-COMPUTER INTERATION", "ARTIFICIAL INTELLIGENCE", "COMPUTER ARCHITECTURE", "DATA VISUALIZATION", "THEORY OF COMPUTER SCIENCE"] %>

<div id="detail-view-contents" class="col-md-11 col-md-offset-1">
    <% program.faculties.each do |faculty| %>
    
        <div class="sub-section col-md-4 faculty" style="text-align: center; cursor: pointer;">
            <%= image_tag(faculty.image.url(:thumb), :style=>"bordmax-width: 100%; max-height: 100%;") %>
            <p style="font-size: 1.3em; color: black; margin-top: 1em;"><%= faculty.name %></p>
            <p style="font-size: 1.3em; color: rgb(175, 175, 175);"><%= faculty.title %></p>
            <p style="font-size: 0.7em; color: rgb(0, 175, 163); font-weight: 500;"> 
                <%= "#{areas1[rand(areas1.count)]} | #{areas2[rand(areas2.count)]} " %> 
            </p>
        </div>
    <% end %>

    <div id="faculty-more" class="sub-section col-md-12" style="text-align: center">
        <p onclick="$('#hidden1, #hidden2, #hidden3').slideDown(300); $('#faculty-more').fadeOut(200);"
                style="font-size: 2em; font-weight: 400; margin-top:1em; cursor: pointer;">
            MORE
            <%= image_tag("down-pointer-grey.png",:style=>"margin-top: -0.1em; padding: 0;margin-left: 0.2em; width: 0.5em;") %>
        </p>
    </div>
</div>
