
<!-- Main contents -->
<div class="contents program-index row-fluid col-md-offset-1 col-md-10">
	<div class="head row">
	  <div class="col-md-offset-1 col-md-10">
				<div class="search-title">
					 <h1> <%= "#{@keyword} Fall 2016" %>  </h1>
				</div>
				<div class="sort-by">
					<div class="sort-by-title"> Sort by/ </div>
					<div class="sort-by-unit"> 
							<% if @sort_by == 'ranking' %>
								<%= link_to "RANKING", programs_path(:sort_by=>"ranking"), :class=>"sort-by-selected" %> 
							<% else %> 
								<%= link_to "RANKING", programs_path(:sort_by=>"ranking") %> 
							<% end %>
					</div>

					<div class="sort-by-unit"> 
							<% if @sort_by == 'tuition' %>
								<%= link_to "TUITION", programs_path(:sort_by=>"tuition"), :class=>"sort-by-selected" %> 
							<% else %>
								<%= link_to "TUITION", programs_path(:sort_by=>"tuition") %> 
							<% end %>
					</div>

					<div class="sort-by-unit"> 
						<% if @sort_by == 'deadline' %>
							<%= link_to "DEADLINE", programs_path(:sort_by=>"deadline"), :class=>"sort-by-selected" %> 
						<% else %>
							<%= link_to "DEADLINE", programs_path(:sort_by=>"deadline") %> 
						<% end %>
					</div>
				</div>

	<!-- 				<div>Sort by </div>
					<div class="filter-item">Ranking</div>
					<div class="filter-item">Tuition</div>
					<div class="filter-item">Deadline</div>
				</div> -->
		</div>
	</div>

	<div class="wrap">
		<% @programs.each do |program| %>
			<div class="row">

				<div class="col-md-offset-1 col-md-2">
					<div class="title">
						<div class="name-1">
							<%= program.school.name %>
						</div>
						<div class="name-2">
							<%= program[@sort_by].to_s.gsub '-','/' %>
						</div>

						<%= render :partial=>"add_fav_button", :locals=>{:program=>program} %>

					</div> <%# title %>
				</div> <%# col-md-2 %>

				<div class="col-md-2">
					<%= link_to program_path(program), :class=>"program-logo" do %>
							<%= image_tag(program.school.logo.photo.url(:medium)) if program.school.logo%>
					<% end %>
				</div> <%# col-md-2 %>


				<div class="col-md-6">
					<%= link_to program_path(program), :class=>"program-content" do %>
						<div class="program-name">
							<%= "#{program.title} #{program.school.try(:campus)}"  %>
						</div>
						<div class="program-desc">
							<%= shorten(program.desc,400) %>
						</div>
					<% end %>
				</div> <%# col-md-6 %>

				<hr class="col-md-10 col-md-offset-1">

			</div> <%# row %>
		<% end %>

		<% if @programs.length ==0  %>
			<h2 class="no-result">Sorry no result </h2>
		<% end %>
	</div>

</div>
