<!-- Main contents -->
<div class="contents program-index row-fluid col-md-offset-1 col-md-10">
	<div class="head row">
	  <div class="col-md-10">
				<div class="search-title">
					 <h1> COMPUTER SCIENCE 2015 </h1>
				</div>
				<div class="sort-by">
					<div class="sort-by-title"> Sort by/ </div>
					<div class="sort-by-unit"> <%= link_to "RANKING", "#" %> </div>
					<div class="sort-by-unit"> <%= link_to "TUITION", "#" %> </div>
					<div class="sort-by-unit"> <%= link_to "DEADLINE", "#" %> </div>
				</div>

	<!-- 				<div>Sort by </div>
					<div class="filter-item">Ranking</div>
					<div class="filter-item">Tuition</div>
					<div class="filter-item">Deadline</div>
				</div> -->
		</div>
	</div>

	<div class="wrap">
		<% @programs.each do |program| %>
			<div class="row">

				<div class="col-md-2">
					<div class="title">
						<div class="name-1">
							<%= program.school.name %>
						</div>
						<div class="name-2">
							<%= program.ranking %>
						</div>

						<%= render :partial=>"add_fav_button", :locals=>{:program=>program} %>

					</div> <%# title %>
				</div> <%# col-md-2 %>

				<div class="col-md-offset-1 col-md-1">
					<div class="logo">
						<%= image_tag(program.school.logo.photo.url(:medium)) if program.school.logo %>
					</div>
				</div>

				<div class="col-md-8">
					<div class="program-content">
						<div class="program-name">
							<%= program.title %>
						</div>
						<div class="program-desc">
							<%= shorten(program.desc,300) %>
						</div>
					</div>
				</div>
			</div> <%# row %>
		<% end %>

		<% if @programs.length ==0  %>
			<h2 class="no-result">Sorry no result </h2>
		<% end %>
	</div>

</div>
