<!-- Main contents -->
<div class="contents program-index row-fluid col-md-offset-1 col-md-10">
	<div class="head row">
	  <div class="col-md-offset-1 col-md-10">
				<div class="search-title">
					 <h1> COMPUTER SCIENCE FALL 2016 </h1>
				</div>
				<div class="sort-by">
					<div class="sort-by-title"> Sort by/ </div>
					<div class="sort-by-unit"> <%= link_to "RANKING", "#" %> </div>
					<div class="sort-by-unit"> <%= link_to "TUITION", "#" %> </div>
					<div class="sort-by-unit"> <%= link_to "DEADLINE", "#" %> </div>
				</div>

	<!-- 				<div>Sort by </div>
					<div class="filter-item">Ranking</div>
					<div class="filter-item">Tuition</div>
					<div class="filter-item">Deadline</div>
				</div> -->
		</div>
	</div>

	<div class="wrap">
		<% @programs.each do |program| %>
			<div class="row">

				<div class="col-md-offset-1 col-md-2">
					<div class="title">
						<div class="name-1">
							<%= program.school.name %>
						</div>
						<div class="name-2">
							<%= "2015/12/31" %>
						</div>

						<%= render :partial=>"add_fav_button", :locals=>{:program=>program} %>

					</div> <%# title %>
				</div> <%# col-md-2 %>


				<div class="col-md-2">
					<%= link_to program_path(program), :class=>"program-logo" do %>
							<%= image_tag(program.school.logo.photo.url(:medium)) if program.school.logo%>
					<% end %>
				</div> <%# col-md-2 %>


				<div class="col-md-6">
					<%= link_to program_path(program), :class=>"program-content" do %>
						<div class="program-name">
							<%= program.title %>
						</div>
						<div class="program-desc">
							<%= shorten(program.desc,400) %>
						</div>
					<% end %>
				</div> <%# col-md-6 %>

				<hr class="col-md-10 col-md-offset-1">

			</div> <%# row %>
		<% end %>

		<% if @programs.length ==0  %>
			<h2 class="no-result">Sorry no result </h2>
		<% end %>
	</div>

</div>
