
<div class="single-program">
	<div class="info">
		<div class="logo">
			<%= image_tag(@pic_list[0]) %>
		</div>

		<div class="school-box">
			<h3> <%= @program.school.name %></h3>
			<p>	<%= @program.desc %></p>

		</div>

		<div class="fav">
			<%= link_to "", program_path(@program),:class=>"glyphicon glyphicon-plus" %>
		</div>

	</div>

	<div class="nav">
		<ul>
			<li> <%= link_to "Campus","#", :class=>"btn btn-info" %> </li>
			<li> <%= link_to "Weather","#", :class=>"btn btn-info" %> </li>
			<li> <%= link_to "Location","#", :class=>"btn btn-info"  %> </li>
			<li> <%= link_to "Faculty Info","#", :class=>"btn btn-info"  %> </li>
			<li> <%= link_to "Document requirement","#", :class=>"btn btn-info"  %> </li>
			<li> <%= link_to "admitted student","#", :class=>"btn btn-info"  %> </li>
		</ul>

	</div>
	<div class="content">

		<div class="gallery">
			<div class="main-pic">
				<%= image_tag(@pic_list[1]) %>
			</div>
			<div class="sub-pic-box">
				<div class="sub-pic-row">
					<div class="sub-pic">
						<%= image_tag(@pic_list[2]) %>
					</div>
					<div class="sub-pic">
						<%= image_tag(@pic_list[3]) %>
					</div>
				</div>

				<div class="sub-pic-row">
					<div class="sub-pic">
						<%= image_tag(@pic_list[4]) %>
					</div>
					<div class="sub-pic">
						<%= image_tag(@pic_list[5]) %>
					</div>
				</div>

			</div>
		</div>

		<%= render :partial=>"programs/program_map", :locals=>{:address=>@address} %>

		<div class="faculty">

			<% @faculties.each do |fc| %>
				<div class="unit">
					<%= image_tag fc.image.url(:thumb) %>
					<p> <%= fc.name %> </p>
					<p> <%= fc.email %> </p>
					<p> <%= fc.intro %> </p>
					<p> <%= fc.link_url %> </p>
				</div>
			<% end %>
		</div>

		<div class="PAS"> <%# previous admitted student %>
		<%= render :partial=>"programs/alumn", :locals=>{:alumns=>@alumns} %>
		</div>


	</div>



</div>

