<!-- Main contents -->
<div class="contents row-fluid col-md-offset-1 col-md-10">
    <!-- Intro (upper section) -->
    <div id="program-intro" class="row-fluid col-md-12">
        <!-- Left part of the intro (name, logo, add) -->
        <div id="program-basics" class="col-md-3">
            <div id="program-name-short"><%= @program.title %></div>
            <span id="program-ranking"><%= @program.ranking %></span>
            <%= link_to myprogram_path(@program) do %>
							<p id="add-to-cart">Add</p>
            <% end %>

            <div id="school-logo">
            	<%= image_tag(@program.school.logo.photo.url(:thumb), :width=>"50px") if @program.school.logo%>
 						</div>
        </div>

        <!-- Right part of the intro (name, descriptions) -->
        <div id="program-headings" class="col-md-9">
            <p id="school-name"> <%= @program.school.name%> </p>
            <p id="program-name"> <%= @program.title %> </p>
            <div id="program-stats" class="row">
                <span id="deadline" class="col-md-4">
                    <p> DEADLINE </p>
                    <p> <%= @program.deadline %> </p>
                </span>
                <span id="time-required" class="col-md-4">
                    <p> TIME ESTIMATED </p>
                    <p> 10 Hours </p>
                </span>
                <span id="applicant-count" class="col-md-4">
                    <p>APPLICANTS</p>
                    <p> <%= @program.tuition %> </p>
                </span>
            </div>
        </div>
    </div> <%# program-intro %>

    <!-- Details (lower section) -->
    <div id="program-details" class="row-fluid col-md-12">
        <!-- Navbar of the lower section (left half) -->
        <div id="detail-view-nav" class="col-md-2">
            <a href="#about"><p id="detail-about" class="detail-view-nav-item" value="about">ABOUT</p> </a>
            <a href="#campus"><p id="detail-campus" class="detail-view-nav-item" value="campus">CAMPUS</p> </a>
            <a href="#location"><p id="detail-location" class="detail-view-nav-item" value="location">LOCATION</p> </a>
            <a href="#faculty"><p id="detail-faculty" class="detail-view-nav-item" value="faculty">FACULTY</p> </a>
            <a href="#document"><p id="detail-document" class="detail-view-nav-item" value="document">DOCUMENT</p> </a>
            <a href="#alumni">
                <p id="detail-alumni" class="detail-view-nav-item" value="alumni">
                    ALUMNI <%= image_tag "right-pointer-grey.png", :align=>"middle" %>
                    <!-- <img align="middle" src="images/right-pointer-grey.png"></img> -->
                </p>
                <a href="#alumni-ellen">
                    <p id="detail-alumni-ellen" class="detail-view-nav-item" value="alumni-ellen">Ellen Lai</p> 
                </a>
                <a href="#alumni-sam">
                    <p id="detail-alumni-sam" class="detail-view-nav-item" value="alumni-sam">Sam Ling</p> 
                </a>
            </a>
        </div>
        <!-- Actual view of the lower section (right half) -->
        <div id="detail-view" class="col-md-10 row-fluid">
            <div id="show_about"> <%= render :partial=>"programs/show_about" %> </div>
            <div id="show_campus"> <%= render :partial=>"programs/show_campus" %> </div>
            <div id="show_location"> <%= render :partial=>"programs/show_location" %> </div>
            <div id="show_faculty"> <%= render :partial=>"programs/show_faculty" %> </div>
            <div id="show_document"> <%= render :partial=>"programs/show_document" %> </div>
            <div id="show_alumni"> <%= render :partial=>"programs/show_alumni" %> </div>
        </div>

    </div> <%# program-details %>
</div>

<script>

    $(document).ready(function() {

        $('#detail-about').click(function(){
            hideAll();  
            $('#show_about').show();
        })

        $('#detail-campus').click(function(){
            hideAll();  
            $('#show_campus').show();
        })

        $('#detail-location').click(function(){
            hideAll();  
            $('#show_location').show();
        })
        $('#detail-faculty').click(function(){
            hideAll();  
            $('#show_faculty').show();
        })
        $('#detail-document').click('#show_document',function(){
            hideAll();  
            $('#show_document').show();
        })
        $('#detail-alumni').click('#show_alumni',function(){
            hideAll();  
            $('#show_alumni').show();
        })

        var hideAll = function(){
            $('#show_about').hide();
            $('#show_campus').hide();
            $('#show_location').hide();
            $('#show_faculty').hide();
            $('#show_document').hide();
            $('#show_alumni').hide();            

        }


        hideAll();
        $('#show_about').show();
    })



</script>



