
<div class="single-program">	
	<div class="info">
		<div class="logo">
		</div>

		<div class="school-box">
			
		</div>
	</div>

	<div class="nav">
		<ul>
			<li> <%= link_to "Campus","#", :class=>"btn btn-info" %> </li>
			<li> <%= link_to "Weather","#", :class=>"btn btn-info" %> </li>
			<li> <%= link_to "Location","#", :class=>"btn btn-info"  %> </li>		
			<li> <%= link_to "Faculty Info","#", :class=>"btn btn-info"  %> </li>
			<li> <%= link_to "Document requirement","#", :class=>"btn btn-info"  %> </li>
			<li> <%= link_to "admitted student","#", :class=>"btn btn-info"  %> </li>
		</ul>

	</div>
	<div class="content">


		<div class="gallery">


		</div>

		<div class="map">

		</div>

		<div class="faculty">

		</div>

		<div class="PAS"> <%# previous admitted student %>
		
		</div>


	</div>



</div>

