<!-- Main contents -->
<div class="contents row-fluid col-md-offset-1 col-md-10">
    <!-- Intro (upper section) -->
    <div id="program-intro" class="row-fluid col-md-12">
        <!-- Left part of the intro (name, logo, add) -->
        <div id="program-basics" class="col-md-3">
            <div id="program-name-short"><%= @program.program_category.try(:name) %></div>
            <span id="program-ranking"><%= @program.ranking %></span>

            <div id="school-logo">
            	<%= image_tag(@program.school.logo.photo.url(:thumb), :width=>"80px", :height=>"80px") if @program.school.logo%>
			</div>
        </div>

        <!-- Right part of the intro (name, descriptions) -->
        <div id="program-headings" class="col-md-9">
            <p id="school-name"> <%= @program.school.name%> </p>
            <p id="program-name"> <%= "#{@program.title} #{@program.degree}" %> </p>
            <div id="program-stats" class="row">
                <span id="deadline" class="col-md-4">
                    <p> DEADLINE </p>
                    <p> <%= @program.deadline %> </p>
                </span>
                <span id="time-required" class="col-md-4">
                    <p> TIME ESTIMATED </p>
                    <p> 2 Weeks </p>
                </span>
                <span id="applicant-count" class="col-md-4">
                    <p>APPLICANTS</p>
                    <p> <%= @program.applicant %> </p>
                </span>
            </div>
            <div class="myprogram-start" class="row">
                <%= link_to "Start", myprogram_path(@program), :class=>"col-md-offset-3 col-md-4 myprogram-start-icon" %>
            </div>
        </div>
    </div> <%# program-intro %>

    <!-- Details (lower section) -->

    <div id="program-details" class="row-fluid col-md-12">
        <!-- Navbar of the lower section (left half) -->
        <div id="detail-view-nav" class="col-md-2">

            <% list = ["ABOUT","CAMPUS","LOCATION","FACULTY","DOCUMENT"] %>
            <% list.each do |item| %>
                <%= link_to "", :class=>"detail-view-nav-btn", 
                                :data=>".detail-view-#{item}" do %>
                    <p class="detail-view-nav-item"> <%=item%> </p>
                <% end %>
            <% end %>

            <%= link_to "", :class=>"detail-view-nav-alumni" do %>
                <p class="detail-view-nav-item">      
                    ALUMNI 
                    <%= image_tag "right-pointer-grey.png", :align=>"middle" %>
                </p>

                <% alumnus = ["Ellen Lai", "Sam Ling"] %>                    
                <% alumnus.each_with_index do |alumni,index| %>
                    <%= link_to "", :class=>"detail-view-nav-alumni-btn detail-view-nav-alumni-#{index+1}", 
                                    :data=>".detail-view-ALUMNI-#{index+1}" do %>
                        <p class="detail-view-nav-item detail-view-nav-alumni-p"> 
                            <%=alumni%> 
                        </p>
                    <% end %>
                <% end %>
            <% end %>
        </div>

        <!-- Actual view of the lower section (right half) -->
        <div id="detail-view" class="col-md-10 row-fluid">
            <div class="detail-view-ABOUT detail-view-content"> 
                <%= render :partial=>"programs/show_about" %> 
            </div>

            <div class="detail-view-CAMPUS detail-view-content"> 
                <%= render :partial=>"programs/show_campus", 
                           :locals=>{:program=>@program} %> 
            </div>

            <div class="detail-view-LOCATION detail-view-content"> 
                <%= render :partial=>"programs/show_location" %> 
            </div>

            <div class="detail-view-FACULTY detail-view-content"> 
                <%= render :partial=>"programs/show_faculty", 
                           :locals=>{:program=>@program} %> 
            </div>

            <div class="detail-view-DOCUMENT detail-view-content"> 
                <%= render :partial=>"programs/show_document" %> 
            </div>

            <div class="detail-view-ALUMNI-1 detail-view-content"> 
                <%= render :partial=>"programs/show_alumni_ellen" %>
            </div>

            <div class="detail-view-ALUMNI-2 detail-view-content"> 
                <%= render :partial=>"programs/show_alumni_sam" %> 
            </div>
        </div>

    </div> <%# program-details %>
</div>

<script>

    $(document).ready(function() {

        var isSlideDown = false;

        $('.detail-view-nav-btn').click(function(e){
            e.preventDefault();
            showView(this);
            $('.detail-view-nav-alumni-p').slideUp(200);
        });

        $('.detail-view-nav-alumni').click(function(e){
            e.preventDefault();
            if (isSlideDown){
                $('.detail-view-nav-alumni-p').slideUp(200);
            }else{
                $('.detail-view-nav-alumni-p').slideDown(200);
            }
            isSlideDown = !isSlideDown
        })

        $('.detail-view-nav-alumni-btn').click(function(e){
            e.preventDefault();
            showView(this);            
        })

        var showView = function(object){
            $('.selected-item').removeClass('selected-item');
            $(object).find('p').addClass('selected-item');
            $('.detail-view-content').hide();
            $($(object).attr('data')).show();       
        }

        $('.detail-view-content').hide();

        $('.detail-view-ABOUT').show();
        $('.detail-view-nav-alumni-p').hide();
        $($('.detail-view-nav-btn').find('p')[0]).addClass('selected-item');

    })



</script>


