<div class="my_programs-index-box">

	<div class="program-list row col-md-offset-1 col-md-11">
		<div class="left col-md-3">
			<div class="logo">
				<img src="#">
			</div>
			<div class="continue"><a href="">continue</a></div>
		</div>
		<div class="right col-md-8">
			<div class="program_info col-md-12">
				<div class="school_info col-md-8">
					<div class="shool">UN</div>
					<div class="program">computer</div>
				</div>
				<div class="dateline col-md-3">
					5
				</div>
			</div>
			<div class="progress_rate col-md-12">
				<div class="line col-md-9"><progress value=""></progress></div>
				<div class="percen col-md-2">23%</div>
			</div>
		</div>
	</div>

</div>
<!--
<div class="my_programs-index-box">
	<h1> My Progress </h1>
	<% @user_program_forms.each do |pf| %>
		<p class="field">

		<% if current_user%>
		<%= link_to myprogram_path(pf.program.id) do%>
				<span class="school label label-danger"> <%=pf.program.school.try(:name) %> </span>
				<span class="program label label-primary"><%= pf.program.title %> </span>
				<span class="progresses label label-warning"><%= "(? %)" %></span>
				<span label label-danger><%= link_to "remove-fav", fevorite_myprogram_path(pf.program), :class=>"label label-danger",:data => { :row_id => pf.program.id }%>
				</span>
		  <% end %>
		<%else %>
			<%= pf.title%>
		<% end %>

		</p>
	<% end %>
</div>
-->
