<div class="my_programs-index-box">
	<h1> My Progress </h1>
	<% @user_program_forms.each do |pf| %>
		<p class="field">

		<% if current_user%>
		<%= link_to myprogram_path(pf) do%>
				<span class="school label label-danger"> <%=pf.program.school.try(:name) %> </span>
				<span class="program label label-primary"><%= pf.program.title %> </span>
				<span class="progresses label label-warning"><%= "(? %)" %></span>
				<span label label-danger><%= link_to "remove-fav", fevorite_myprogram_path(pf.program), :class=>"label label-danger",:data => { :row_id => pf.program.id }%>
				</span>
		  <% end %>
		<%else %>
			<%= pf.title%>
		<% end %>

		</p>
	<% end %>
</div>