<div class="my_programs-single-box"%>
	
	<div class="nav">
		<ul>
			

		</ul>

	</div>

	<div class="content">

		<h2> <%=@user_program_form.program.name %> </h2>

		<% current_cat = "" %>
		<%= form_for @user_program_form, :url=>myprogram_path(@user_program_form), :method=>:patch do |fu| %> 
			<%= fu.fields_for :user_program_form_values do |fuv| %>

				<% cat_name = fuv.object.program_form_key.program_form_key_category.name %>

				<% if current_cat != cat_name %>
					<%= raw("</ul>") if current_cat != "" %>
					<div class="field">
					<h3> <%= cat_name %> </h3>
					<ul>
					<% current_cat = cat_name %>
				<% end %>

					<li> 				
						<div class="title"> 
							<%= fuv.object.program_form_key.name %>	
							<%= fuv.hidden_field :program_form_key_id %>
						</div>
						<div class="check">
							<%= fuv.check_box :check %>
						</div>
						<div class="note" %>
							<%= fuv.text_field :note %>
						</div>
					</li>
			<% end %>
					</ul>
					</div> <%# field %>

			<%= fu.submit 'submit', :class=>"btn btn-primary" %>
			<br>
		<% end %>
	</div>

</div>

