<!-- Main contents -->
<div class="contents row-fluid col-md-offset-1 col-md-10">
    <!-- Intro (upper section) -->

    <div class="row-fluid col-md-12 myprogram-intro">
        <!-- Left part of the intro (name, logo, add) -->
        <div id="program-basics" class="col-md-3">
            <div id="program-name-short"><%= @user_program_form.program.title %></div>
            <span id="program-ranking"><%= @user_program_form.program.ranking %></span>

            <div id="school-logo">
                <%= image_tag(@user_program_form.program.school.logo.photo.url(:thumb), :width=>"50px") if @user_program_form.program.school.logo%>
                        </div>
        </div>

        <!-- Right part of the intro (name, descriptions) -->
        <div id="program-headings" class="col-md-9">
            <p id="school-name"> <%= @user_program_form.program.school.name%> </p>
            <p id="program-name"> <%= @user_program_form.program.title %> </p>
            <div id="program-stats" class="row">
                <span id="deadline" class="col-md-4">
                    <p> DEADLINE </p>
                    <p> <%= @user_program_form.program.deadline %> </p>
                </span>
                <span id="time-required" class="col-md-4">
                    <p> TIME ESTIMATED </p>
                    <p> 10 Hours </p>
                </span>
                <span id="applicant-count" class="col-md-4">
                    <p>APPLICANTS</p>
                    <p> <%= @user_program_form.program.tuition %> </p>
                </span>
            </div>
        </div>
    </div> <%# program-intro %>
    <!-- Details (lower section) -->
    <div  class="myprogram-details row-fluid col-md-12">
        <!-- Navbar of the lower section (left half) -->
        <div class="detail-view-nav col-md-2">
            <% FormKeyCategory.all.each do |fc|%>
            <a href="#detail<%=fc.name%>">
                <p id="detail-about" class="detail-view-nav-item" value="about">
                    <%=fc.name%>
                </p>
            </a>
            <% end %>
        </div>
        <!-- Actual view of the lower section (right half) -->
        <div class="detail-view col-md-10 row-fluid">
            <%= form_for @user_program_form, :url=>myprogram_path(@user_program_form), :method=>:patch do |fu| %>

            <% FormKeyCategory.all.each do |fc|%>
                <div id="detail<%=fc.name%>">

                <div class="value_list col-md-12">

                    <%= fu.fields_for :user_program_form_values,@user_program_form.user_program_form_values do  |fuv| %>
                    <div class="value_list_sub">
                    <%if fuv.object.form_key_category.id == fc.id %>
                        <div class="category col-md-12 " data-id="<%= fuv.object.program_form_key_id%>">
                            <%#= fuv.object.inspect%>
                            <a  class="" href="">
                            <%= fuv.check_box :check , { checked: fuv.object.check||check_auto_compelete(fuv.object.program_form_key),id: "check#{fuv.object.program_form_key_id}"
                                } %>
                            <span class="checked" id="pic<%= fuv.object.program_form_key_id %>">
                            </span>
                            <span class="category_title">
                                <%= fuv.object.program_form_key.name %>
                            </span>
                            <%= fuv.hidden_field :program_form_key_id %>
                            <%= fuv.hidden_field :form_key_category_id,:value=> fuv.object.program_form_key.form_key.form_key_category.id%>
                            </div>
                            <div class="des col-md-12">
                                <%= fuv.object.program_form_key.desc %>
                            </div>
                            </a>
                    <%end %>
                    </div><!--value_list_sub-->
                    <% end %>
                </div>
                </div><!--detail-<%=fc.id%>-->

            <% end %>
            <div class="col-md-12">
                <%= link_to "finish",{}, id: "submit", class: "myprogram-submit"   %>
            </div>
            <% end %>
        </div><!--id="detail-view"-->

    </div> <%# myprogram-details %>
</div>

<script>
$(".value_list").on('click',".category", function(event){
    event.preventDefault();
    var id =$(this).data('id');
    var check = $("#check"+id).attr('checked');
    if(check){
        $("#check"+id).attr('checked',false);
    }
    else{
        $("#check"+id).attr('checked',true);
    }
});
$("#submit").click(function(event) {
    event.preventDefault();
    $("form").submit();
});
</script>