
<div class="navbar row-fluid">
  <span class="logo col-md-4">
  	<%= link_to root_path do %>
  		<%= image_tag "logo.png" %>
  		<%= image_tag "logo-word.png" %>
    <% end %>
  </span>
  <span class="search-bar col-md-4">
  	<%= image_tag "search.png"%>

		<%= text_field_tag 'keyword',nil, :placeholder=>"Computer Science Fall 2016", :class=>"input" %>


  </span>
  <span class="navbar-links col-md-4">
  	<%= link_to "My Progress", myprograms_path %>
  	<%= link_to profile_path do %>
				<%= image_tag "profile.png", :id=>"profile" %>
		<% end %>
  </span>
</div>




