
<div class="navbar row-fluid">
  <span class="logo col-md-4">
  	<%= link_to root_path do %>
  		<%= image_tag "logo.png" %>
  		<%= image_tag "logo-word.png" %>
    <% end %>
  </span>
  <span class="search-bar col-md-4">

    <%= form_tag programs_path, :method=>:get do %>

    	<%= image_tag "search.png", :class=>'search-img'%>

	   	<%= text_field_tag 'keyword',nil, :placeholder=>"Your Program Here", :required=>true  %>


    <% end %>

  </span>
  <span class="navbar-links col-md-4">
  	<%= link_to "My Progress", myprograms_path, :id => "grey-font" %>
  	<%= link_to profile_path do %>
				<%= image_tag "profile.png", :id=>"profile" %>
		<% end %>
  </span>
</div>




